@import "../variables";

.about-description_wrap {
	display: flex;
	padding-bottom: 80px;
	margin-bottom: 80px;
	border-bottom: 2px solid #c2c2c2;
	.left {
		width: 50%;
		margin-right: 130px;
		h4 {
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 15px;
		}
		p {
			font-size: 15px;
			line-height: 22px;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.description-wrap {
			margin-bottom: 25px;
		}
		.services-button {
			display: block;
			width: 105px;
			background: #23A8CD;
			text-align: center;
			color: #fff;
			padding: 15px 0;
			font-size: 15px;
			font-weight: 500;
			line-height: 20px;
			border-radius: 12px;
			box-shadow: 0 8px 24px 0 rgba(24,120,147,0.24);
		}
	}
	.right {
		width: 41%;
	}
}

@media screen and (max-width: 990px) {
	.about-description_wrap {
		flex-direction: column-reverse;
		.left {
			width: 100%;
			margin-right: 0;
		}
		.right {
			width: 100%;
			margin-bottom: 40px;
			height: 600px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

@media screen and (max-width: 990px) {
	.about-description_wrap {
		padding-bottom: 30px;
		margin-bottom: 30px;
		.description-wrap {
			margin-bottom: 15px;
		}
		.left {
			h4 {
				font-size: 26px;
				line-height: 36px;
				margin-bottom: 4px;
			}
			p {
				font-size: 14px;
				line-height: 23px;
			}
			.services-button {
				width: 100px;
				padding: 12px 0;
			}
		}
		.right {
			height: 290px;
			border-radius: 4px;
			overflow: hidden;
			margin-bottom: 25px;
		}
	}
}