@import "../variables";

.page-availability {
	footer {
		display: none;
	}
}

.availability-content {
	display: none;
	position: fixed;
	width: 100%;
	height: calc(100vh - 116.1px);
	top: 116.1px;
	left: 0;
	z-index: 10;
	overflow-y: scroll;
	&::-webkit-scrollbar {
	    cursor: pointer;
	    width: 5px;
	  }
	  &::-webkit-scrollbar-track {
	    background: #d9d9d9;
	    width: 5px;
	    border-left: 1px solid transparent;
	    border-right: 1px solid transparent;
	    background-clip: content-box;
	    border-radius: 18px;
	  }
	  &::-webkit-scrollbar-thumb {
	    background: #23a8cd;
	    cursor: pointer;
	    width: 5px;
	    max-height: 100px;
	    border-radius: 4px;
	  }
}

.availability-wrap {
	display: flex;
	justify-content: space-between;
	.left {
		width: 60%;
		max-width: 670px;
	}
	.right {
		width: 33%;
		max-width: 370px;
	}
}

.availability-top {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 2px solid #c2c2c2;
	.availability-titles {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		h1 {
			font-size: 36px;
			line-height: 50px;
		}
	}
	.availability-info_banner {
		padding: 16px 24px 16px 60px;
		background: #F6F6F6;
		position: relative;
		font-size: 15px;
		line-height: 22px;
		&:before {
			display: block;
			content:'';
			width: 32px;
			height: 32px;
			background: transparent url('../img/info-icon.svg') center no-repeat;
			background-size: contain;
			position: absolute;
			top: 16px;
			left: 16px;
		}
	}
}

.back-from_availability {
	display: block;
	width: 40px;
	height: 40px;
	background: transparent url('../img/arrow-left-blue.svg') center no-repeat;
	background-size: contain;
	margin-right: 15px;
}

.availability-details {
	margin-bottom: 23px;
	h4 {
		font-size: 22px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 8px;
	}
	p {
		font-size: 15px;
		line-height: 22px;
	}
}

.availability-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.av-form_input {
		width: 48%;
		margin-bottom: 15px;
		span {
			display: block;
			width: 100%;
		}
		label {
			display: block;
			font-size: 15px;
			line-height: 22px;
			margin-bottom: 7px;
		}
		input {
			display: block;
			width: 100%;
			padding: 15px;
			height: 56px;
			line-height: 22px;
			border: 2px solid #c2c2c2;
			border-radius: 4px;
			overflow: hidden;
			color: #1F283C;
		}
	}
	.form-more_info {
		width: 100%;
		padding-top: 40px;
		margin-top: 40px;
		border-top: 2px solid #c2c2c2;
		h4 {
			font-size: 22px;
			font-weight: 500;
			line-height: 30px;
			margin-bottom: 8px;
		}
		p {
			display: block;
			font-size: 15px;
			line-height: 22px;
			margin-bottom: 25px;
		}
	}
	.send-form {
		display: block;
		border: 0;
		width: 320px;
		font-size: 15px;
		font-weight: 500;
		line-height: 20px;
		color: #fff;
		text-align: center;
		padding: 15px 0;
		border-radius: 12px;
		background-color: #23A8CD;
		box-shadow: 0 8px 24px 0 rgba(24,120,147,0.24);
		&:focus {
			outline: none;
		}
	}
}

@media screen and (max-width: 990px) {
	.availability-wrap {
		flex-direction: column;
		position: relative;
		.left {
			width: 100%;
			max-width: 100%;
			margin-bottom: 40px;
		}
		.right {
			width: 100%;
			max-width: 100%;
			position: absolute;
			top: 600px;
		}
	}
	.availability-form {
		.form-more_info {
			padding-top: 900px;
		}
	}
}

@media screen and (max-width: 500px) {
	.availability-top {
		padding-bottom: 30px;
		margin-bottom: 30px;
		.availability-titles {
			h1 {
				font-size: 26px;
				line-height: 36px;
			}
		}
		.availability-info_banner {
			padding: 16px 20px 16px 60px;
			font-size: 14px;
			line-height: 20px;
		}
	}
	.back-from_availability {
		width: 32px;
		height: 32px;
		margin-right: 4px;
	}
	.availability-details {
		h4 {
			font-size: 21px;
			line-height: 30px;
			margin-bottom: 15px;
		}
		p {
			display: none;
		}
	}
	.availability-form {
		.av-form_input {
			width: 100%;
			margin-bottom: 15px;
			label {
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 3px;
			}
			input {
				padding: 13px 20px;
				height: 49px;
			}
		}
		.form-more_info {
			margin-top: 0;
			border-top: 0;
			padding-top: 760px;
			h4 {
				font-size: 21px;
				line-height: 30px;
				margin-bottom: 4px;
			}
			p {
				font-size: 14px;
				line-height: 20px;
			}
		}
		.send-form {
			margin: 0 auto;
		}
	}
	.availability-wrap {
		.left {
			margin-bottom: 0;
		}
		.right {
			top: 630px;
		}
	}
}

@media screen and (max-width: 360px) {
	.availability-wrap {
		.right {
			top: 640px;
		}
	}
	.availability-form {
		.form-more_info {
			padding-top: 770px;
		}
	}
}

@media screen and (max-width: 350px) {
	.availability-wrap {
		.right {
			top: 660px;
		}
	}
}